section.header
  .col-xs-12#container-header
    ul
      li
        a(href="/") Home
      if currentUser
        li
          a(href="../profile") Profile
        li
          a(href="sign-out") sign out
        li
          a(href="/kits/new") New kit
      if !currentUser
        li
          a(href="sign-in") sign in
        li
          a(href="register") sign up
