section.header
  .col-xs-12#container-header
    .header-buttons-container
      script(src='/bundle.js')
      style(type="text/css").
        @font-face {
            font-family: 'proxima-nova-bold';
            src: url('/fonts/proxima-nova-bold.ttf') format('truetype');
        }

        @font-face {
            font-family: 'futura-pt-bold';
            src: url('/fonts/futura-pt-bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
      a(href="/" style="z-index:99")
        img#logo(src="../../../../images/logo.svg")
      if !currentUser
        a#sign-in(href="../sign-in") Sign in
      if currentUser
        a#sign-in(href="../profile") My links



    //- ul
    //-   li
    //-     a(href="/") Home
    //-   if currentUser
    //-     li
    //-       a(href="../profile") Profile
    //-     li
    //-       a(href="../sign-out") sign out
    //-     li
    //-       a(href="/kits/new") New kit
    //-   if !currentUser
    //-     li
    //-       a(href="../sign-in") sign in
    //-     li
    //-       a(href="../register") sign up
