extends layout

block content
    form(method='PATCH' action='/kits/edit')
            div.form-group
              label(for='title') title:
              input#title.form-control(type='text', placeholder='title..' name='kitTitle' value= kit[0].title)
            div.form-group
              label(for='content') Conetent:
              input#content.form-control(type='text' name='kitContent' value = kit[0].content)
            div.form-group#form-end
            button#add-section.btn.btn-primary(type='button' onClick="addSection()") Add section
            button.btn.btn-primary(type='submit') Submit

