extends layout

block content
  div(class="col-xs-6 col-xs-offset-3 active")
    form(method='POST' action= 'edit' id="main-form")
      div.form-group
        input#kit-title.form-control(type='text', placeholder='title..' name='kitTitle' value= kit[0].title)
      for section, index in sections
        - let parentSection = index
        div.form-group.section
          input(class="form-control" id="content" value="null" type="text" name="sections[${sectionCount}][sectionContent]")
          input#title.form-control(type='text' name='sections[' + index + '][sectionTitle]' value = section.title)
          for resource, index in section.resources
            div.form-group.resource
              input#resource-title.form-control(type='text' name='[resources][sec-' + parentSection + '][no-' + index + '][resourceTitle]' value = resource.title)
              input#resource-link.form-control(type='text' name='[resources][sec-' + parentSection + '][no-' + index + '][resourceLink]' value = resource.link)
          <button type="button" onClick='window.resourceAdd(this)' id="resource-add" class="btn btn-primary">Add Link </button>
      div.form-group#form-end
      div.main-form-buttons
        button#add-section.btn.btn-primary(type='button' onClick="window.addSection()") Add </br> section
        button#submit-box.btn.btn-primary(type='submit') Done

