doctype html
html(lang="en")
  head
    title= title || 'Learnbox'
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="app.css")
  body
    include includes/header.pug
    block content
    include includes/footer.pug

