extends layout

block content
  .container(style="position:relative")
    .col-xs-12#profile-filter
       a(href="/../../sign-out")
        p sign out
       span Show :
       button#my-boxes-button(onClick="window.showUserKits()")
         span#my-boxes.active-tab  My boxes
       span  /
       button#favorites-button(onClick="window.showFavorites()")
         span#favorites Favorites
    div#userkits-container.col-xs-12
      each kit in userKits
       .col-md-4.col-sm-6.col-xs-12.user-kit
         a(href="kit/" + kit.link)
           div.kit-index-block
             p  #{kit.title}
             div.link-info
              img#chain(src="images/chain.svg")
              p #{kit.count}
    div#favorites-container.col-xs-12.out-of-view
      div#app
      each kit in favorites
       .col-md-4.col-sm-6.col-xs-12.favorites
         a(href="kit/" + kit.link)
           div.kit-index-block
             p  #{kit.title}
             //- div.link-info
             //-  img#chain(src="images/chain.svg")
             //-  p #{kit.count}


