extends layout

block content
  .container
    .col-xs-12#profile-filter
       span Show :
       span#my-boxes  My boxes
       span  /
       span#favorites  Favorites
    each kit in userKits
     .col-xs-4
       a(href="kit/" + kit.link)
         div.kit-index-block
           p  #{kit.title}
           div.link-info
            img#chain(src="images/chain.svg")
            p #{kit.count}


