extends layout

block content
  div(class="col-xs-6 col-xs-offset-3 register-container")
    h1 register
    form(method='POST' action='/register')
            div.form-group
              input#email.form-control(type='email', placeholder='Email' name='email')
            div.form-group
              input#pw.form-control(type='password' placeholder="password" name='password')
            div.form-group
              input#pw2.form-control(type='password' placeholder="confirm password" name='confirmPassword')
            button.lc-btn(type='submit') Sign up
