extends layout

block content
  div(class="col-xs-6 col-xs-offset-3 sign-in-container")
    h1 Sign in
    button.lc-btn#register
      a(href= "/Register") Sign-up?
    form(method='POST' action='/sign-in')
            div.form-group
              input#email.form-control(type='email', placeholder='name@email.com' name='email')
            div.form-group
              input#pw.form-control(type='password' name='password')
            button.lc-btn(type='submit') Sign in
