.lc-btn {
  background-color: $brand-col;
  color:white;
  border:none;
  font-family: helvetica;
  font-weight: bold;
  border-radius: 35px;
  padding: 10px 40px;
  font-size: 18px;
}

.active-tab {
  color: $brand-col !important;
}

#register {
    transition:1s;
    border: none;
    font-size: 16px;
    padding-left: 0px;
    padding-bottom: 15px;
    background-color: transparent;
  a {
    color: $brand-col;
  }
}
#start {
  margin-top: 30px;
}

#submit-box {
  background-color: $brand-col;
  opacity: 0;
  transition:1s;
  background-color: transparent;
  color:$brand-col;
  border:none;
  margin-left: 40px;
}
#delete-section, #delete-resource {
   opacity: 0;
    transition:1s;
    border: none;
    color: lightgrey;
    position: absolute;
    top: 4px;
    right: 0px;
    background-color: transparent;
}
#add-section {
     background-color: transparent;
     border:none;
     opacity:0;
     transition:1s;
     color: $brand-col;
     text-align: right;
     position:relative;
}
#add-section:after {
     content: "+";
     position:absolute;
     right:-5px;
     top:8px;
     font-weight: bold;
     font-size: 20px;
}
#resource-add {
  background-color: $brand-col;
  position: absolute;
  font-family: helvetica;
  font-weight: bold;
  bottom: 40px;
  left: calc(50% - 65px);
  border-radius: 35px;
  border: none;
  padding:8px 30px;
  font-size: 16px;
  margin-right: 20px;
}

.active button {
  opacity: 1 !important;
}

.main-form-buttons {
  display:flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content:center;
  width: 0px;
  position: absolute;
  margin: bottom 0;
  bottom: -110px;
  left: 50%;
}

#edit-kit {
    transition:1s;
    border: none;
    position: absolute;
    top: 25px;
    font-size: 16px;
    right: -75px;
    background-color: transparent;
  a {
    color: $brand-col;
  }
}

#delete-kit {
    transition:1s;
    border: none;
    position: absolute;
    top: 55px;
    font-size: 16px;
    right: -93px;
    background-color: transparent;
  a {
    color: $brand-col;
  }
}
#favorite-kit {
    width: 200px;
    transition: 1s;
    border: none;
    position: absolute;
    top: 90px;
    line-height: 19px;
    text-align: left;
    font-size: 16px;
    right: -166px;
    background-color: transparent;
  a {
    color: $brand-col;
  }
}

div.error {
    position: absolute;
    right: -163px;
    width: 100px;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #f62626;
    height: 50px;
    top: 10px;
}

div.error::after {
    content: "";
    width: 30px;
    top: 0;
    font-family: 'Gotham';
    left: -44px;
    height: 20px;
    background-size: contain;
    display:block;
    position:absolute;
    background-image: url('/images/thumb.svg');
    animation-name: point;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease;
}

.flag {
  position:absolute;
  bottom:0;
  opacity:0;
  transition:0.5s;
  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #f62626;
  }
}

.flag::after {
    content: "";
    width: 25px;
    background-repeat: no-repeat;
    top: 5px;
    font-family: 'Gotham';
    left: -24px;
    height: 25px;
    background-size: cover;
    display:block;
    position:absolute;
    background-image: url('/images/sigh.svg');
}

#add-link-flag{
    width: 120px;
    height: 40px;
    left: -30px;
    bottom: -70px;
    padding: 10px;
}

#add-section-flag {
    width: 120px;
    height: 40px;
    left: -30px;
    bottom: -40px;
    padding: 10px;
}

.show-flag {
  opacity:1 !important;
}

#favorites-button, #my-boxes-button {
  border:none;
  box-shadow: none;
  background-color: transparent;
}

@keyframes point {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-8px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
