@font-face {
    font-family: 'Gotham-bold';
    src: url('/fonts/gotham-Bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:700');


@font-face {
    font-family: 'Gotham-medium';
    src: url('/fonts/gotham-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'proxima-bold';
    src: url('/fonts/proxima-nova-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'futura-bold';
    src: url('/fonts/futura-pt-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
